    </div>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div>Publeaks</div>
            <div><a href="about.html" data-translate>About Publeaks</a></div>
            <div><a href="faq.html" data-translate>Q&A</a></div>
          </div>
          <div class="col-md-2">
            <div data-translate>The platform</div>
            <div><a href="security.html" data-translate>Security</a></div>
            <div><a href="technology.html" data-translate>Technology</a></div>
          </div>
          <div class="col-md-2">
            <div data-translate>Links</div>
            <div><a href="https://" data-translate>Link</a></div>
            <div><a href="https://" data-translate>Link</a></div>
            <div><a href="https://" data-translate>Link</a></div>
          </div>
          <div class="col-md-2">
            <div data-translate>Contact</div>
            <div><a href="contact.html" data-translate>General</a></div>
          </div>
          <div class="col-md-2">
            <div data-translate>News</div>
            <div><a href="press.html" data-translate>Press release</a></div>
          </div>
          <div class="col-md-2">
            <div><a href="https://twitter.com/publeaksnl" class="twitter"><img style="width:22px; " src="img/twittergreen.png" alt="" />@Publeaks</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
