<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" media="all" href="css/styles.css" />

    <title>Publeaks</title>
  </head>

  <body>

    <div id="header">
      <div class="container">
        <div class="row">
          <div id="initiative-tagline" data-translate>Anonymous leaks to the press</div>
          <a href="index.html">
            <img id="initiative-logo" src="img/logo.png" alt="...">
          </a>
          <ul id="mainnav">
            <li><a href="about.html" data-translate>About Publeaks</a></li>
            <li><a href="faq.html" data-translate>Q&A</a></li>
            <li><a href="contact.html" data-translate>Contact</a></li>
            <li><a href="https://twitter.com/publeaksnl" class="twitter"><img src="img/twitterblack.png" alt="" />@Publeaks</a></li>
          </ul>
        </div>
      </div>
    </div>
